* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Edge, hide scrollbar */
}

.blog-view {
  display: flex;
  flex-wrap: wrap;
  /* Update padding-top to account for fixed navbar */
  padding-top: calc(5rem + var(--navbar-height-mobile, 70px));
  width: 80%;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}
@media (min-width: 768px) {
  .blog-view {
    /* Use desktop navbar height on larger screens */
    padding-top: calc(5rem + var(--navbar-height-desktop, 100px));
  }
}

.post-list {
  margin-top: 40px;
}

.post {
  width: 100%;
}

.post-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.side1 {
  width: 50%;
  padding: 20px;
}

.post-image {
  width: 100%;
  height: 200px;
}

.post-content {
  width: 50%;
  padding: 20px;
  border: 2px;
  background-color: white;
  height: 100%;
}

.post-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: maroon;
  align-items: center;
  justify-content: center;
  display: flex;
}

.post-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  flex-direction: column;
}

.main-content {
  width: 80%;
  color: black;
  padding: 20px;
}

.no-post {
  font-size: 1.5rem;
  font-weight: bold;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 80px;
  height: 300px;
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 50px;
}

.post-image-container {
  display: flex;
}

.title {
  display: flex;
  border: 2px dotted grey;
  padding: 10px;
  justify-content: center;
  align-items: center;
}
