.service-card {
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 5px;
    background-color: white;
  }

  .category-header {
    display: flex;
    justify-content: space-evenly;
  }
  