.book-caregiver-topbanner{
  margin: 0px 0 0 0;
  width: 100%;
  
}
.book-caregiver{
  margin-top: 100px;

  // First TopBanner should span full width
  .banner:first-child {
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);
    width: 100vw;
    max-width: none;
    border-radius: 0px;
    margin-top:0px;
    padding: 0px 0 0px max(20px, calc((100vw - 1200px) / 2)); // Remove right padding
    
    // Adjust text content to take less space
    .text-content {
      // Take only 40% of space, don't grow or shrink
      margin-left:-170px;
    }
    
    // Give image more space and extend to cover right side
    .image-content {
      flex: 1; // Take remaining space and grow to fill
      margin: 0;
      padding: 0;
      margin-right: -10px; // Extend further beyond container
      position: relative;
      right: -10px; // Push it further right
      min-width: 60%
      
      
      img {
        margin: 0;
        padding: 0;
        width: 100%;
        
        object-fit: cover;
      }
    }
  }
}