.landImage{
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat; /* Prevents the image from repeating */
  background-size: cover;
}

.App{
  background-color: #ffffff;
}

.main-title {
  font-family: PoppinsBold;
}
.withpadding {
  padding: 5rem;
}