.gig-gallery-uploads {
  background-color: white;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  margin: 20px 8rem;
}

.galleryImage {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 6px;
  margin-bottom: 10px;
}

.galleryUploads {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 20px;
  font-family: Arial, sans-serif;
}

.uploads-card-section {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: flex-start;
}

.uploads-card-details {
  width: 30%;
  color: black;
}

.uploads-card-details h3 {
  margin: 0;
  font-size: 20px;
  color: #333;
}

.uploads-card-details p {
  font-size: 14px;
  color: #666;
  margin: 5px 0;
}

.uploads-card-area {
  display: flex;
}

.uploads-card-input {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.upload-area {
  p {
    color: blue;
    text-decoration: underline;
  }

  span {
    color: gray !important;
    font-size: 14px !important;
  }
}

.file-upload {
  width: 100%;
  max-width: 200px;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  background-color: white;
  cursor: pointer;
  position: relative;
  transition: border-color 0.3s, background-color 0.3s;
  border: 2px solid #ccc;
}

.file-upload:hover {
  border-color: #007bff;
  background-color: #f4f9ff;
}

.file-upload .upload-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.file-upload input {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
}
