.expert-team {
  padding: 6rem 4rem;
  background-color: var(--primary-color-white);
  text-align: center;
  /* Tablet and mobile styles */
}
.expert-team .heading-section {
  margin-bottom: 4rem;
}
.expert-team .heading-section h2 {
  font-size: 2rem;
  color: #2e4f6b;
  margin-bottom: 0.5rem;
}
.expert-team .heading-section .philosophy {
  font-size: 1rem;
  color: #555;
  margin: auto;
  width: 80%; /* Wider width on mobile */
  background-color: #f7f7f7;
  padding: 1rem;
  border-radius: 10px;
}
.expert-team .team-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2rem;
  justify-content: center;
  align-items: stretch;
}
.expert-team .team-card {
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease;
}
.expert-team .team-card:hover {
  transform: scale(1.05);
}
.expert-team .team-card .team-photo {
  width: 100%;
  height: 300px; /* Adjust height to fit your design */
  object-fit: cover;
}
.expert-team .team-card .team-info {
  padding: 1rem;
  background-color: #fff;
}
.expert-team .team-card .team-info h3 {
  margin: 0.5rem 0;
  font-size: 1.8rem;
  color: #2e4f6b;
}
.expert-team .team-card .team-info p {
  margin: 0;
  font-size: 1rem;
  color: #555;
  padding-bottom: 2rem;
}
@media (max-width: 768px) {
  .expert-team {
    padding: 4rem 2rem;
  }
  .expert-team .heading-section .philosophy {
    width: 90%; /* Adjust width for tablet and mobile */
    margin: 0 auto; /* Center the text */
  }
}
