.story-section {
  padding: 20px; /* Adjust padding as needed */
  background-color: #f9f9f9; /* Light background for section */

  @media (min-width: 768px) {
    padding: 40px;
  }
}

.story-content {
  display: flex; /* Flexbox layout for responsive design */
  flex-direction: column; /* Stack elements vertically on mobile */
  align-items: center; /* Center items horizontally */
  justify-content: center;
  gap: 20px; /* Space between image and text for mobile view */
  
  @media (min-width: 768px) {
    flex-direction: row; /* Align image and text side by side on larger screens */
    justify-content: space-between;
    gap: 40px; /* More space on large screens */
  }
}

.story-text {
  flex: 2; /* Allow text to take more space */
  max-width: 600px; /* Constrain text width for readability */
  padding: 0 20px; /* Add padding to the text block */
  text-align: center; /* Center the text for mobile-first design */

  @media (min-width: 768px) {
    text-align: left; /* Left-align the text on tablets and larger screens */
  }

  h2.title {
    font-size: 2rem; /* Increase font size for the title */
    color: #02445F;
    margin-bottom: 20px;
    font-family: 'PoppinsSemiBold', sans-serif;
  }

  p {
    font-size: 1rem;
    color: #555;
    line-height: 1.6;
  }
}

.story-image1 {
  flex: 2; /* Allow image to take up space */
  max-width: 100%;
  
  img {
    width: 100%;
    height: auto;
    border-radius: 10px; /* Optional: Rounded corners for the image */
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1); /* Optional: Add some shadow for depth */
  }
}
