.register-page {
  padding: 2rem;
  background-color: #f5f5f5;
  

  @media (min-width: 768px) {
    padding: 4rem;
  }

  @media (min-width: 1024px) {
    padding: 8rem;
  }
}

.create-account-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f5f5f5;
  color: #666666;
  padding: 1rem;

  @media (min-width: 768px) {
    flex-direction: row;
  }

  .form-container {
    width: 100%;
    max-width: 500px;
    flex: 1;
    padding: 1.5rem;

    @media (min-width: 768px) {
      padding: 2rem;
    }

    h1 {
      font-size: 1.8rem;
      margin-bottom: 20px;
      color: #02445F;
    }

    form {
      display: flex;
      flex-direction: column;

      .input-group {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-bottom: 10px;

        @media (min-width: 768px) {
          flex-direction: row;
        }

        input {
          flex: 1;
          padding: 12px;
          font-size: 1rem;
          border: 1px solid #ddd;
          border-radius: 5px;
        }
      }

      input {
        width: 100%;
        padding: 12px;
        font-size: 1rem;
        margin-bottom: 15px;
        border: 1px solid #ddd;
        border-radius: 5px;
      }

      .password-requirements {
        font-size: 0.9rem;
        color: #555;
        margin-bottom: 15px;

        ul {
          display: grid;
          grid-template-columns: 1fr;
          gap: 10px;
          margin-top: 5px;
          padding: 0;

          @media (min-width: 500px) {
            grid-template-columns: repeat(2, 1fr);
          }

          li {
            margin-left: 1rem;
            padding: 0;
            font-size: 0.85rem;
          }
        }
      }

      .btn {
        background-color: #111111;
        color: white;
        border: none;
        padding: 12px 20px;
        margin-top: 10px;
        cursor: pointer;
        border-radius: 25px;
        font-size: 1rem;
        transition: background 0.3s ease;

        &:hover {
          opacity: 0.9;
        }
      }
    }

    .error-text {
      color: red;
      font-size: 0.85rem;
      margin-top: 4px;
    }

    .alternate-login {
      text-align: center;
      margin-top: 20px;

      p {
        margin-bottom: 10px;
        color: #666666;
      }

      .btn {
        &.google {
          background: #db4437;
          margin-right: 10px;
        }

        &.apple {
          background: #333;
        }
      }
    }

    .signin-text,
    .terms {
      font-size: 0.9rem;
      text-align: center;
      margin-top: 10px;

      a {
        color: blue;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .image-container {
    display: none;

    @media (min-width: 768px) {
      // display: flex;
      // flex: 1;
      // justify-content: center;
      // align-items: center;
      // flex-direction: column;
    }

    p {
      font-size: 1.2rem;
      text-align: center;
      color: #333;
    }

    img {
      max-width: 100%;
      border-radius: 8px;
      margin-top: 10px;
    }
  }
}

.radio-group {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 15px;

  @media (min-width: 500px) {
    flex-direction: row;
    gap: 20px;
  }
}

.radio-label {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 1rem;
  position: relative;

  input {
    display: none;
  }

  .custom-radio {
    width: 18px;
    height: 18px;
    border: 2px solid #02445F;
    border-radius: 50%;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:after {
      content: "";
      width: 10px;
      height: 10px;
      background: #02445F;
      border-radius: 50%;
      display: none;
    }
  }

  input:checked + .custom-radio:after {
    display: block;
  }
}
