:root {
  --primary-color-1: #05668D;
  --primary-color-2: #3EDDCD;
  --primary-color-white: #ffffff;
  --secondary-color-1: #02445F;
  --secondary-color-2: #015476;
  --secondary-color-3: #015476;
  --secondary-color-4: #00CAB6;
  --secondary-color-5: #99FFF5;
  --secondary-color-6: #B6FBF4;
  --secondary-color-7: #FCCD56;
  --secondary-color-8: #FFE5A1;
  --secondary-color-9: #FFF7E4;
  --background-color: #ffffff;
  
  --text-color: #2c3e50;

  --font-family-base: 'Arial, sans-serif';
  --font-size-base: 16px;
  --font-size-large: 20px;
  --font-size-small: 12px;

  --spacing-small: 8px;
  --spacing-medium: 16px;
  --spacing-large: 24px;
}