.ourPartner{
  text-align: center;
  font-size: xx-large;
  background-color: #ffffff;
  color: black;
  padding: 30px;
}
.brand-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  background-color: #f0f0f0; // Slight background color similar to the image
  
  .brand-item {
    flex: 1;
    max-width: 150px; // Adjust as necessary
    text-align: center;
    
    img {
      max-width: 100%;
      height: auto;
      filter: grayscale(100%); // Optional: to match the black and white theme
      transition: filter 0.3s ease;

      &:hover {
        filter: grayscale(0); // Optional: revert grayscale on hover
      }
    }
  }
}
