.container {
  padding: clamp(2rem, 5vw, 10rem);
  background-color: #ffffff;
}

.caregiver-banner {
  display: flex;
  flex-direction: column;
  background-image: url("../../assets/backImg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #015476;
  padding: 40px;
  border-radius: 20px;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.caregiver-banner h2 {
  font-size: 2rem; /* Updated for consistency */
  margin-bottom: 20px;
}
.caregiver-banner p {
  font-size: 1.25rem; /* Updated for consistency */
  margin-bottom: 20px;
  padding: 20px; /* Adjusted for better spacing */
  background-color: rgba(226, 238, 250, 0.6);
  border-radius: 10px;
  text-align: center; /* Center text for better readability */
}
.caregiver-banner .btn-primary {
  background-color: #fff;
  color: #06283D;
  border: none;
  padding: 15px 20px;
  border-radius: 5px;
  font-size: 1rem; /* Updated for consistency */
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.caregiver-banner .btn-primary:hover {
  background-color: #f0f0f0; /* Light hover effect */
}

@media (max-width: 768px) {
  .container {
    padding: 3rem 1.5rem;
  }
  .caregiver-banner {
    padding: 30px;
  }
  .caregiver-banner h2 {
    font-size: 1.5rem;
  }
  .caregiver-banner p {
    font-size: 1rem;
    padding: 15px; /* Reduced padding for tablets */
  }
  .caregiver-banner .btn-primary {
    padding: 12px 15px;
    font-size: 0.9rem;
  }
}
@media (max-width: 480px) {
  .container {
    padding: 2rem; /* Further reduced padding for mobile */
  }
  .caregiver-banner {
    padding: 20px;
  }
  .caregiver-banner h2 {
    font-size: 1.25rem;
  }
  .caregiver-banner p {
    font-size: 0.9rem;
    padding: 10px; /* Further reduced padding for mobile */
  }
  .caregiver-banner .btn-primary {
    padding: 10px 12px;
    font-size: 0.8rem;
  }
}
