.detailed-story-view {
  padding: 2rem;

  .back-button {
    background: none;
    border: none;
    font-size: 1rem;
    color: #2e4f6b;
    cursor: pointer;
    margin-bottom: 1rem;
  }

  .story-content {
    text-align: center;

    .story-image {
      width: 100%;
      max-width: 90%;
      height: 40%;
      margin-bottom: 1.5rem;
    }

    h2 {
      font-size: 2rem;
      color: #2e4f6b;
      margin-bottom: 1rem;
    }

    p {
      font-size: 1rem;
      color: #555;
      line-height: 1.6;
      margin: 0 auto;
      width: 80%;
    }
  }
}
