.expert-team {
  padding: 2rem;
  background-color: var(--primary-color-white);
  text-align: center;

  .heading-section {
    margin-bottom: 2rem;

    h2 {
      font-size: 2rem;
      color: #2e4f6b;
      margin-bottom: 0.5rem;
    }

    .philosophy {
      font-size: 1rem;
      color: #555;
      margin: auto;
      width: 60%;
      background-color: #f7f7f7;
      padding: 1rem;
      border-radius: 10px;
    }
  }

  .team-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2rem;
    justify-content: center;
    align-items: stretch;
  }

  .team-card {
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.05);
    }

    .team-photo {
      width: 100%;
      height: 300px; /* Adjust height to fit your design */
      object-fit: cover;
    }

    .team-info {
      padding: 1rem;
      background-color: #fff;

      h3 {
        margin: 0.5rem 0;
        font-size: 1.2rem;
        color: #2e4f6b;
      }

      p {
        margin: 0;
        font-size: 1rem;
        color: #555;
      }
    }
  }
}
