.faq {
  text-align: center;
  padding: 5rem 60px;
  background-color: #f9f9f9;

  h2 {
    font-size: 2rem;
    color: #2e4f6b;
    margin-bottom: 40px;
  }

  .faq-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .faq-item {
      background-color: #fff;
      border-radius: 10px;
      padding: 20px;
      width: 45%;
      margin-bottom: 20px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      cursor: pointer;
      transition: all 0.3s ease;

      &:hover {
        transform: translateY(-5px);
      }

      &.active {
        background-color: #e7f0f7;
      }

      .faq-question {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 1.2rem;
        color: #2e4f6b;
        font-weight: 600;
        margin-bottom: 10px;
      }

      .faq-icon {
        font-size: 1.5rem;
        color: #2e4f6b;
      }

      .faq-answer {
        font-size: 1rem;
        color: #777;
        text-align: left;
      }
    }
  }

  @media (max-width: 768px) {
    .faq-list {
      .faq-item {
        width: 100%; /* Full width on tablets */
        margin-bottom: 20px; /* Increased margin for better spacing */
        padding: 25px; /* Increased padding for better touch targets */
      }
    }
  }

  @media (max-width: 480px) {
    padding: 30px 15px; /* Increased padding for mobile devices */

    h2 {
      font-size: 1.5rem;
      margin-bottom: 30px; /* Increased margin bottom for the title */
    }

    .faq-item {
      width: 100%; /* Full width on mobile */
      margin-bottom: 20px; /* Increased margin for better spacing */
      padding: 25px; /* Increased padding for better touch targets */

      .faq-question {
        font-size: 1.1rem; /* Slightly larger font size for mobile */
      }

      .faq-answer {
        font-size: 1rem; /* Larger font size for readability */
      }
    }
  }
}
