.footer {
  background-color: #06283D;
  padding: 40px 0;
  color: #ffffff;
  font-family: 'Arial', sans-serif;

  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;

    .footer-column {
      flex: 1;
      margin-right: 20px;

      h4 {
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 15px;
      }

      ul {
        list-style-type: none;
        padding: 0;
        margin: 0;

        li {
          font-size: 14px;
          margin-bottom: 10px;
        }
      }
    }

    .footer-logo {
      flex: 0.5;
      display: flex;
      justify-content: flex-end;

      img {
        width: 120px;
        height: auto;
      }
    }
  }

  .footer-bottom {
    border-top: 1px solid #ffffff;
    text-align: center;
    margin-top: 20px;
    padding-top: 10px;

    p {
      font-size: 12px;
    }
  }
}
