.toast {
  position: fixed;
  top: 20px;
  right: 20px;
  max-width: 300px;
  padding: 10px 20px;
  color: white;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  font-size: 14px;
  /* Success toast style */
  /* Error toast style */
  /* Info toast style */
  /* Animation */
  animation: fadeIn 0.5s ease-out, fadeOut 0.5s ease-in 2.5s;
}
.toast-message {
  flex: 1;
}
.toast-close {
  background: none;
  border: none;
  color: white;
  font-size: 18px;
  cursor: pointer;
}
.toast.toast-success {
  background-color: #4caf50; /* Green */
}
.toast.toast-error {
  background-color: #f44336; /* Red */
}
.toast.toast-info {
  background-color: #2196f3; /* Blue */
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(-20px);
  }
}
